.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body {
  background-image: url('../media/images/geometry2.png');
}
#top {
  max-width: 1440px;
  margin-top: 3rem;
}
.post-content img {
  margin: 0 auto;
}
.post-content img[src*="#w10"] {
  display: block;
  width: 10%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w15"] {
  display: block;
  width: 15%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w20"] {
  display: block;
  width: 20%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w25"] {
  display: block;
  width: 25%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w30"] {
  display: block;
  width: 30%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w35"] {
  display: block;
  width: 35%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w40"] {
  display: block;
  width: 40%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w45"] {
  display: block;
  width: 45%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w50"] {
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w55"] {
  display: block;
  width: 55%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w60"] {
  display: block;
  width: 60%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w65"] {
  display: block;
  width: 65%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w70"] {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w75"] {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w80"] {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w85"] {
  display: block;
  width: 85%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w90"] {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
}
.post-content img[src*="#w95"] {
  display: block;
  width: 95%;
  height: auto;
  margin: auto;
}
article .article-meta a {
  color: #ffffff;
}
.sidebar .sidebar-title {
  margin-bottom: 24px;
}
.sidebar ul {
  padding-left: 0px;
}
.sidebar li {
  margin-bottom: 16px;
}
.sidebar a.badge {
  background-image: none;
  margin: 4px;
  color: #ffffff;
}
.sidebar a.weixin {
  position: relative;
  color: #08BA06;
}
.sidebar a.mail {
  color: #868e96;
}
.sidebar a.weixin img.qrcode {
  position: absolute;
  z-index: 99;
  top: -152px;
  right: -55px;
  width: 7.5rem;
  max-width: none;
  height: 7.5rem;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  border: 0.125rem solid #e7f5ff;
  border-radius: 0.1rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sidebar a.weixin:hover img.qrcode {
  transform: scale(1);
  opacity: 1;
}
.info-container {
  text-align: center;
}
.info-container .avatar {
  width: 120px;
  height: 120px;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
  margin-bottom: 24px;
}
.social-container {
  margin-top: 24px;
}
.social-container a {
  background-image: none;
  margin: 4px;
}
.tags-container a {
  margin: 8px;
  background-image: none;
  color: #ffffff;
}
.readmore-link {
  background-image: none;
}
h1 {
  font-size: 3.5rem;
}
article .article-title,
h2 {
  font-size: 2.5rem;
}
nav ul.inline li a {
  display: block;
}

      .paper {
        background: #f4fce3;
      }
    
      .navbar {
        background: #f4fce3;
      }
    